/* HEADER */
header {
    top: 0;
    background: linear-gradient(360deg, #cfd7c7 0%, #0b2027 100%);
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

/* COVER */
header {
    background-color: #cfd7c7; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
}

header h1, h2 {
    text-align: center;
    color: #cfd7c7;
}

.header-headline {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.header-cover {
    display: flex;
    justify-content: center;
    height: 30vh;
    margin-top: 0px;
}

.header-cover img {
    width: 230px;
    height: 220px;
    margin: auto 0;
    padding: 0px;
    border-radius: 200px;
    border: 2.5px solid #0b2027;
    image-orientation: 90deg;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .header-cover img {
        width: 115;
        height: 105;
    }
}

#hr-style {
    width: 20vw;
    margin-bottom: 25px;
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}

.buffer {
    height: 35px;
}
