.header-nav {
    background-color: #cfd7cf;
}

/* MAIN NAV */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    list-style: none;
    font-size: 1em;
    padding: 5px;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
        padding: 1px;
    }
}

.main-nav li {
    padding: 20px;
}

.main-nav li > li {
    margin-left: 0px;
}

.main-nav a {
    color: #0b2027;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.active-link {
    border-bottom: 3px solid #a44a3f;
}

.main-nav .active {
    color: #a44a3f;
}

.logo {
    margin-right: 100px;
}