.projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

.projects h1 {
    font-size: 50px;
    text-align: center;
    grid-row: 1fr;
    padding: 10px;
    color: #cfd7cf;
}

.box {
    padding: 10px;
    margin: 10px auto;
    color: #cfd7cf;
    display: flex;
    flex-direction: column;
    /* background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424); */
    background-color: transparent;
    background-size: 20px 20px;
    box-shadow: #a44a3f;
    box-shadow: 1px 1px 5px 5px #cfd7cf;
}

.box:hover {
    box-shadow: 1px 1px 5px 6px #cfd7cf;
}

.box h3 {
    text-align: center;
}

.icons a {
    padding: 1px;
    color: #a44a3f;
    background-color: transparent;
    font-size: 1.5em;
}

.block-text {
    min-width: 20rem;
    max-width:  25rem;
    height: fit-content;
    line-height: 1.5em;
    text-align: start;
    padding: 10px;
}

@media only screen and (min-width: 370px) and (max-width: 480px) {
    .box {
        width: auto;
    }

    .block-text {
        font-size: 1em;
        width: 12rem;
    }
}

@media only screen and (max-width: 370px) {
    .box {
        width: 80vw;
    }

    .block-text {
        font-size: 0.8em;
        min-width: 16rem;
    }
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 0;
}
