@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

body {
    margin: 0;
    width: 100%;
    background: linear-gradient(360deg, #cfd7c7 40%, #0b2027 120%);
    font-family: 'Cuprum', sans-serif;
    /* scroll-behavior: smooth; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
