@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

body {
  margin: 0;
    width: 100%;
    background-blend-mode: lighten;
    background-color: #cfd7c7;
    background-size: cover;
    background-position: center;
    background-clip: padding-box;
    font-family: 'Cuprum', sans-serif;
    /* scroll-behavior: smooth; */
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
